<div class="element-tabs page-layout card fullwidth">
    <div class="content center">
        <h3>Basic Tabs</h3>
        <mat-tab-group>
            <mat-tab label="First">
                <img src="https://i.pinimg.com/564x/0b/fe/12/0bfe12468abbebd97b3536b803311d03.jpg">
                <div class="secondary-text">
                    Eve Marie saved to Places to go!
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <img src="https://i.pinimg.com/564x/76/01/10/7601101954d06bec5404d8bb88d3da1a.jpg">
                <div class="secondary-text">
                    This complete guide to the top 10 tourist attractions in Paris gives you the in-depth info you'll need to enjoy the city's most popular sights and places.
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <img src="https://i.pinimg.com/564x/6b/1c/d8/6b1cd8f74a1e4b3b32403d74bc2bcfe6.jpg">
                <div class="secondary-text">
                    Stef Muir saved to My Style Inspo
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="content center">
        <h3>Headers On The Bottom</h3>
        <mat-tab-group headerPosition="below">
            <mat-tab label="First">
                <img src="https://i.pinimg.com/564x/a8/32/b2/a832b2a81c49dac64ce18ec15391237e.jpg">
                <div class="secondary-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neglegentur sabinum instructus fingitur accusantibus harum neque consuetudine intereant numeris, ipse tuemur suum apud mediocrem iactant. Libidinibus amatoriis dicta albuci manum, statue.
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <img src="https://i.pinimg.com/564x/29/b6/46/29b6467e3dece955ff4657d165d1a110.jpg">
                <div class="secondary-text">
                    Negant parvos fructu nostram mutans supplicii ac dissentias, maius tibi licebit ruinae philosophia. Salutatus repellere titillaret expetendum ipsi. Cupiditates intellegam exercitumque privatio concederetur, sempiternum, verbis malint dissensio nullas noctesque earumque.
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <img src="https://i.pinimg.com/564x/59/51/e5/5951e583ad90780dc921b44b9a9f85aa.jpg">
                <div class="secondary-text">
                    Metus subtilius texit consilio fugiendam, opinionum levius amici inertissimae pecuniae tribus ordiamur, alienus artes solitudo, minime praesidia proficiscuntur reiciat detracta involuta veterum. Rutilius quis honestatis hominum, quisquis percussit sibi explicari.
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>
