@mixin iconSize($size){
    &[size="#{$size}"]{
        width: 24px*$size;
        height: 24px*$size;

        svg{
            path {
                transform: scale($size);
            }
        }
    }
}

@mixin mat-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    min-width: $size;
    min-height: $size;
    line-height: $size;
}
