.element-buttons {
    .content {
        background-color: #FFF;
    }

    .content-row {
        padding-top: 20px;

        >button,
        >a {
            margin-bottom: 20px;
        }
    }
}
