:host {
    gridster {
        background-color: inherit;

        gridster-item {
            background-color: inherit;

            .remove-button {
                z-index: 2;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .operation-button {
        z-index: 2;
        position: absolute;
        bottom: 35px;
        right: 30px;
    }

}
