.element-stepper {
    .content {

        >.bg-white {
            background-color: #FFF;
        }

        .back-btn {
            background: #f4f4f4;
            color: #757575;
        }
    }
}