@import "src/@notadd/scss/notadd";

.element-list {
    .content {
        
        > .bg-white {
           background-color: #FFF; 
        }

        mat-list-item {
            img.item-preview {
                width: 35px;
                height: 35px;
                margin-left: 5px;

                &:hover {
                    transform: scale(2);
                }
            }
        }
    }
}


@include media-breakpoint-down('sm') {
    .mb-down-sm-30 {
        margin-bottom: 30px;
    }
}
