<div class="pages-lockscreen layout-full">
    <div class="page h-100-p text-center vertical-align">
        <div class="page-content auth-box vertical-align-middle">
            <div class="avatar s-50 mb-20">
                <img src="../../../../../assets/images/avatars/tianhun.jpg">
            </div>
            <p class="mt-0 mb-20">Tian-Hun</p>
            <div class="mt-20 mb-20" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field color-white color="accent" appearance="outline" class="w-100-p">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <p class="mt-0">
                Enter your password to retrieve your session
            </p>
            <p class="mt-0">
                <a routerLink="/general/pages/login">Or sign in as a different user</a>
            </p>
            <div class="copyright">
                <p>WEBSITE BY Notadd</p>
                <p>© 2018. All RIGHT RESERVED.</p>
                <div class="social pt-10">
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:twitter" class="secondary-text s-24"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:facebook" class="secondary-text s-24"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:google" class="secondary-text s-24"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
