@import "../login/login.component.scss";


.pages-lockscreen {
    &::before {
        background-image: url("../../../../../assets/images/bg_lockscreen.jpg");
    }

    .page-content {
        display: inline-block;
        width: 400px;
        max-width: 100%;
        padding: 30px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        margin: 0 auto;

        img {
            border-radius: 50%;
        }

    }
}
