@import "src/@notadd/scss/notadd";

:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit;
        color: inherit;
    }

    .navbar-logo {
        min-width: 155px;

        &>div:first-child{
            width: 100%;
        }

        @include media-breakpoint-down('xs') {
            width: 56px;
        }

        .mat-icon.logo {
            @include mat-icon-size(40px);
        }
    }

    .toolbar-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint-down('xs') {
            min-width: 56px;
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }

    .mat-toolbar-row {
        padding: 0;

        .more-divider {
            width: 100%;
        }

        .avatar {
            $mobileAviatarSize: 30px;
            @include media-breakpoint-down('xs') {
                width: $mobileAviatarSize;
                min-width: $mobileAviatarSize;
                height: $mobileAviatarSize;
                line-height: $mobileAviatarSize;
            }
        }
    }
}
