@import "src/@notadd/scss/notadd";

:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;

    .theme-options-sidebar {
        margin-top: 64px;
        margin-bottom: 64px;

        @include media-breakpoint-down('xs') {
            margin-top: 0;
            margin-bottom: 56px;
        }
    }

    .theme-options-button {
        position: absolute;
        top: 64px;
        right: 0;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        border-radius: 0;
        margin: 0;
        pointer-events: auto;
        opacity: .90;
        z-index: 998;

        mat-icon {
            animation: rotating 3s linear infinite;
        }

        &:hover {
            opacity: 1;
        }
    }
}
