table {
    width: 100%;
}
  
th {
    text-align: left;
}

.element-table {
    .content {
        background-color: #fff;
    }

    .content-card {
        width: 100%;
        overflow: auto;
    }

    button {
        margin: 10px 10px 0 0;
    }

    .mat-table {

        flex: 1 1 auto;
        overflow: auto !important;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            height: 50px;
        }

        &.sticky-columns-table {
            width: 800px;

            td.mat-column-star {
                width: 20px;
                padding-right: 8px;
            }
              
            th.mat-column-cateNames, td.mat-column-cateNames {
                padding-left: 8px;
            }
              
            .mat-table-sticky:first-child {
                border-right: 1px solid #e0e0e0;
            }
              
            .mat-table-sticky:last-child {
                border-left: 1px solid #e0e0e0;
            }
        }
    }
}