@import "src/@notadd/scss/notadd";

mat-sidenav {
    overflow: hidden;

    &.collapsed {

        navbar {

            &.vertical-style {
                width: 90px;
            }

            .navbar-scroll-container {

                .logo-wrap {
                    padding: 12px 0;

                    .logo {
                        width: 64px;
                        height: 64px;
                        position: relative;
                        top: auto;
                        padding: 0;
                        left: 32px;
                    }

                    .logo-title{
                        display: none;
                    }
                }

                .navbar-content {
                    margin-top: 0;
                }
            }
        }
    }
}

navbar {

    &.vertical-style {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 260px;
        height: 100%;
    }

    .navbar-scroll-container {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 30%),
        linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 40%);

        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 10px;
        background-attachment: local, scroll;

        .logo-wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 24px 0 64px 0;

            .logo-title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .title {
                    font-size: 22px;
                    margin: 0;
                    margin-top: 14px;
                }

                .mat-icon {
                    @include mat-icon-size(44px);
                    width: 100%;
                    text-align: center;
                }
            }

            .logo {
                position: absolute;
                top: 92px;
                border-radius: 50%;
                padding: 8px;
                transform: translateX(-50%);
                left: 50%;
                width: 80px;
                height: 80px;
                margin: 0;
                .mat-icon {
                    @include mat-icon-size(64px);
                }
            }
        }

        .navbar-content {
            flex: 1 1 auto;
            margin-top: 32px;
        }
    }
}
