<div class="layout-full pages-register-v2">
    <div class="page text-center">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="center start" class="h-100-p">
            <div class="brand-info mt-200 pt-100" fxHide.lt-md>
                <div class="brand text-left pl-60">
                    <mat-icon fontSet="NotaddIcon" fontIcon="icon-logo" class="s-48"></mat-icon>
                </div>
                <p class="s-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="auth-box auth-main" fxLayout="column nowrap" fxLayoutAlign="center center">
                <div class="auth-main-inner">
                    <div class="brand mt-20 mb-20 text-left">
                        <mat-icon fontSet="NotaddIcon" fontIcon="icon-logo" class="s-36"></mat-icon>
                    </div>
                    <p class="mt-0 mb-20 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="mt-20 mb-20">
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="text" autocomplete placeholder="Name" required>
                        </mat-form-field>
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="email" autocomplete placeholder="Email" required>
                        </mat-form-field>
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="password" autocomplete placeholder="Password" required>
                        </mat-form-field>
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="password" autocomplete placeholder="Retype Password" required>
                        </mat-form-field>
                        <div class="mb-40" fxLayoutAlign="start end" fxLayoutGap="15px">
                            <mat-checkbox></mat-checkbox>
                            <b class="secondary-text text-left">By clicking Sign Up, you agree to our <a>Terms</a>.</b>
                        </div>
                        <button mat-flat-button class="w-100-p" color="accent">Sign Up</button>
                    </div>
                    <p class="mt-0 text-left">
                        Have account already? Please go to
                        <a routerLink="/general/pages/login-v2">Sign In</a>
                    </p>
                    <div class="copyright">
                        <p>WEBSITE BY Notadd</p>
                        <p>© 2018. All RIGHT RESERVED.</p>
                        <div class="social pt-20">
                            <button mat-mini-fab>
                                <mat-icon size="1" svgIcon="mdi:twitter" class="secondary-text s-24"></mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" class="ml-20 mr-20">
                                <mat-icon size="1" svgIcon="mdi:facebook" class="secondary-text s-24"></mat-icon>
                            </button>
                            <button mat-mini-fab color="warn">
                                <mat-icon size="1" svgIcon="mdi:google" class="secondary-text s-24"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
