.mat-tab-group {
    /* no mat label */
    &[no-header] {
        .mat-tab-header {
            display: none !important;
        }
    }

    /* body height 100% */
    &[full-height-body] {
        .mat-tab-body-wrapper {
            height: 100%;
        }
    }

    /* theme panel tab */
    &.theme-panel {
        .mat-tab-label {
            min-width: 80px;
            padding: 5px;

            @include media-breakpoint-down('xs') {
                min-width: 70px;
            }
        }
    }
}

.mat-list-item {
    &.item-padding-0 {
        .mat-list-item-content {
            padding: 0 !important;
        }
    }

    &.item-pl-30 {
        .mat-list-item-content {
            padding-left: 30px !important;
        }
    }
}
