<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a mat-button href="https://github.com/notadd/ng-notadd" target="_blank" fxFlex="0 0 auto">
            <mat-icon svgIcon="mdi:github-circle" class="mr-12"></mat-icon>
            <span>GitHub</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <span>Copyright 2018. All Rights Reserved by Notadd</span>
        </div>

    </div>

</mat-toolbar>
