<button
    mat-icon-button
    type="button"
    class="mat-elevation-z1"
    [matMenuTriggerFor]="colorMenu"
    (menuOpened)="onMenuOpen()"
    [ngClass]="selectedColor?.class || 'mat-accent-bg'">
    <mat-icon class="secondary-text">palette</mat-icon>
</button>

<mat-menu #colorMenu="matMenu" class="notadd-material-color-picker-menu">

    <header [ngClass]="selectedColor?.class || 'mat-accent-bg'" class="mat-elevation-z4"
            fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-icon-button
                class="secondary-text"
                [style.visibility]="view==='hues'?'visible':'hidden'"
                (click)="goToPalettesView($event)" aria-label="Palette">
            <mat-icon class="s-20">arrow_back</mat-icon>
        </button>

        <span *ngIf="selectedColor?.palette">
            {{selectedColor.palette}} {{selectedColor.hue}}
        </span>

        <span *ngIf="!selectedColor?.palette">
            Select Color
        </span>

        <button mat-icon-button
                class="remove-color-button secondary-text"
                (click)="removeColor($event)"
                aria-label="Remove Color">
            <mat-icon class="s-20">delete</mat-icon>
        </button>
    </header>

    <div [ngSwitch]="view" class="views">

        <div class="view" *ngSwitchCase="'palettes'">

            <div fxLayout="row wrap" fxLayoutAlign="start start" class="colors" notaddPerfectScrollbar>
                <div class="color"
                     *ngFor="let color of (colors | keys)"
                     [ngClass]="'mat-' + color.key + '-bg'"
                     [class.selected]="selectedPalette === color.key"
                     (click)="selectPalette($event, color.key)"
                     fxLayout="row" fxLayoutAlign="center center" mat-ink-ripple>
                </div>
            </div>
        </div>

        <div class="view" *ngSwitchCase="'hues'" >
            <div fxLayout="row wrap" fxLayoutAlign="start start" class="colors" notaddPerfectScrollbar>
                <div class="color" *ngFor="let hue of hues"
                     [fxHide]="selectedPalette === 'notadd-white' && hue !== '500'|| selectedPalette === 'notadd-black' && hue !== '500'"
                     [ngClass]="selectedPalette + '-' + hue + '-bg'"
                     [class.selected]="selectedHue === hue"
                     (click)="selectHue($event, hue)" fxLayout="row" fxLayoutAlign="center center" mat-ink-ripple>
                </div>
            </div>
        </div>

    </div>
</mat-menu>
