<div class="theme-options-panel">
    <div class="header">

        <span class="title">主题选项</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <form [formGroup]="form">
        <!-- layout style-->
        <div class="group" formGroupName="layout">

            <!-- layout width -->
            <div class="group">

                <h2 class="mb-12">布局宽度</h2>
                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                    <mat-radio-button class="ml-12 mb-12" value="fullwidth">Fullwidth</mat-radio-button>
                    <mat-radio-button class="ml-12 mb-12" value="boxed">Boxed</mat-radio-button>
                </mat-radio-group>

            </div>

            <!-- toolbar -->
            <div class="group" formGroupName="toolbar">

                <h2 class="mb-12">工具栏</h2>

                <mat-slide-toggle class="ml-12" formControlName="hidden">
                    Hide
                </mat-slide-toggle>

                <h3 class="ml-12 mt-24">位置:</h3>
                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                    <mat-radio-button class="ml-12 mb-12" value="above">Above</mat-radio-button>
                    <mat-radio-button class="ml-12 mb-12" value="below-static">Below Static</mat-radio-button>
                    <mat-radio-button class="ml-12 mb-12" value="below-fixed">Below Fixed</mat-radio-button>
                </mat-radio-group>

                <h3 class="ml-12 mt-24 mb-8">颜色:</h3>
                <notadd-material-color-picker class="ml-12 mb-16"
                                              [(selectedClass)]="notaddConfig.layout.toolbar.background">
                </notadd-material-color-picker>

            </div>

            <!-- footer -->
            <div class="group" formGroupName="footer">

                <h2 class="mb-12">页脚</h2>

                <mat-slide-toggle class="ml-12 mb-12" formControlName="hidden">
                    隐藏
                </mat-slide-toggle>

                <h3 class="ml-12 mt-24">位置:</h3>
                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                    <mat-radio-button class="ml-12 mb-12" value="above">Above</mat-radio-button>
                    <mat-radio-button class="ml-12 mb-12" value="below-static">Below Static</mat-radio-button>
                    <mat-radio-button class="ml-12 mb-12" value="below-fixed">Below Fixed</mat-radio-button>
                </mat-radio-group>

                <h3 class="ml-12 mt-24 mb-8">颜色:</h3>
                <notadd-material-color-picker class="ml-12 mb-16"
                                            [(selectedClass)]="notaddConfig.layout.footer.background">
                </notadd-material-color-picker>

            </div>

        </div>

    </form>
</div>
