<div class="page-layout card fullwidth">
    <div class="center">
        <div class="mt-20 mb-20">
            <button color="accent" mat-raised-button (click)="capture()"> Screen Capture </button>
        </div>
        <div #screen class="content w-60-p white-bg">
            <h1>Hello World!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati incidunt non nam quasi mollitia recusandae harum deleniti hic.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati incidunt non nam quasi mollitia recusandae harum deleniti hic.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati incidunt non nam quasi mollitia recusandae harum deleniti hic.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati incidunt non nam quasi mollitia recusandae harum deleniti hic.
            </p>
        </div>
    </div>
</div>
