<div class="pages-errors layout-full">
    <div class="h-100-p text-center vertical-align">
        <div class="error-box vertical-align-middle">
            <h1>{{code}}</h1>
            <p class="error-info">Page Not Found !</p>
            <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <button mat-flat-button color="accent" routerLink="/general/dashboards/analytics">GO TO HOME PAGE</button>
            <div class="copyright">
                <p>WEBSITE BY Ibenchu</p>
                <p>© 2018. All RIGHT RESERVED.</p>
                <div class="social pt-10">
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:github-circle" class="secondary-text s-24"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:twitter" class="secondary-text s-24"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon size="1" svgIcon="mdi:google" class="secondary-text s-24"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
