<div class="layout-full pages-login-v2">
    <div class="page text-center" notaddPerfectScrollbar>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center stretch" class="h-100-p">
            <div class="brand-info mt-200 pt-100" fxHide.lt-md>
                <div class="brand text-left pl-60">
                    <mat-icon fontSet="NotaddIcon" fontIcon="icon-logo" class="s-48"></mat-icon>
                </div>
                <p class="s-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="auth-box auth-main vertical-align">
                <div class="auth-main-inner vertical-align-middle">
                    <div class="brand mt-20 mb-20 text-left">
                        <mat-icon fontSet="NotaddIcon" fontIcon="icon-logo" class="s-36"></mat-icon>
                    </div>
                    <p class="mt-0 mb-20 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="mt-20 mb-20">
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="email" autocomplete placeholder="Email" required>
                        </mat-form-field>
                        <mat-form-field required-color-red color="accent" class="w-100-p">
                            <input matInput type="password" autocomplete placeholder="Password" required>
                        </mat-form-field>
                        <div class="mb-40" fxLayoutAlign="space-between end">
                            <mat-checkbox>Remember me</mat-checkbox>
                            <a class="float-right" routerLink="/general/pages/forgot-password">Forgot password?</a>
                        </div>
                        <button mat-flat-button class="w-100-p" color="accent">Sign in</button>
                    </div>
                    <p class="mt-0 text-left">No account? <a routerLink="/general/pages/register-v2">Sign Up</a></p>

                    <div class="copyright">
                        <p>WEBSITE BY Notadd</p>
                        <p>© 2018. All RIGHT RESERVED.</p>
                        <div class="social pt-20">
                            <button mat-mini-fab>
                                <mat-icon size="1" svgIcon="mdi:twitter" class="secondary-text s-24"></mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" class="ml-20 mr-20">
                                <mat-icon size="1" svgIcon="mdi:facebook" class="secondary-text s-24"></mat-icon>
                            </button>
                            <button mat-mini-fab color="warn">
                                <mat-icon size="1" svgIcon="mdi:google" class="secondary-text s-24"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
