@import "../login/login.component.scss";

.pages-login-v2 {
    &::before {
        background-image: url("../../../../../assets/images/bg_login.jpg");
    }

    .brand-info {
        margin: 0 100px 0 90px;

        p {
            max-width: 650px;
            opacity: .6;
            font-size: 20px;
        }

    }

    .auth-main {
        width: 500px;
        height: 100%;
        background: #fff;
        color: #424242;

        .auth-main-inner {
            padding: 0 60px;

            @media only screen and (max-width: 400px) {
                padding: 20px 30px;
                overflow-y: auto;
            }
        }

    }
}
